body {
	font-family: Arial, Helvetica, sans-serif;
}

div {
	float: left;
}

button {
	margin-left: 600px;
}

.player {
  width: 300px;
  height: 200px;
  padding: 10px;
  border: 5px solid black;
  margin-left: 150px;
}

.comp {
  width: 300px;
  height: 200px;
  padding: 10px;
  border: 5px solid black;
  margin-left: 350px;
}

.Ctitle {
  margin-left: 350px;
}

.Ptitle {
  margin-left: 150px;
}

.Ctier {
  margin-left: 350px;
}

.Ptier {
  margin-left: 150px;
}
